/* *************************** */
/* * HEADER COMPONENTS */
/* *************************** */

/* ? NAVIGATION STYLE */

.nav_container__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 4rem 3.2rem;
}

.nav--sticky {
	transition: all 1s ease-in-out;
	z-index: 100;
	position: fixed;
	background-color: #fff7efbb;
	backdrop-filter: blur(20px);
	left: 0;
	right: 0;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.nav--sticky .nav_container__content {
	padding: 3rem;
}

.nav_container__links {
	font-family: var(--KUMAR-FONT);
	display: flex;
	align-items: center;
	gap: 5rem;
	font-size: var(--DETAIL-FONT);
	font-weight: 400;
}

.nav_container__buttons {
	display: flex;
	align-items: center;
	gap: 3rem;
}

.nav_mobile-btn {
	display: none;
}

.nav_container__links li::after {
	content: "";
	border: 1px solid var(--SECTION-BG);
	display: block;
	width: 0;
	opacity: 0;
	transition: all 0.5s ease-in-out;
	margin-top: 0.5rem;
}

.nav_container__links li:hover::after {
	opacity: 1;
	width: 100%;
}

/* ? HERO BANNER STYLE */

.banner_container__content--01 {
	display: grid;
	grid-template-columns: 0.56fr 0.44fr;
	padding: 4rem 0 8rem;
	align-items: center;
}

.banner_container h1 {
	font-size: var(--HEADING-FONT);
	font-family: var(--FREDOKA-FONT);
	font-weight: 400;
	text-transform: capitalize;
	line-height: 1.5;
}

.banner_container__content--01 figure:nth-child(2) {
	grid-row: auto / span 2;
}

.banner_container__content--02 h2 {
	align-self: flex-start;
}

.banner_container__content--02 p {
	max-width: 63rem;
	margin-left: auto;
}

video {
	align-self: end;
	width: 80%;
}

/* *************************** */
/* * MAIN COMPONENTS */
/* *************************** */

main section {
	margin: 16rem 0;
}

/* ? INTRODUCTION SECTION */

.introduction_container {
	background: var(--SECTION-BG);
}

.introduction_container h2 {
	font-size: 5rem;
	color: var(--WHITE-FONT);
	max-width: 66rem;
	margin: 0 auto;
}

/* ? ABOUT SECTION */

.about_container__content {
	max-width: 55rem;
}

.about_container__content p {
	margin: 3rem 0 2.2rem;
}

.about_container figure {
	background: var(--SECTION-BG);
}

.about_container figure img {
	transform: translate(-2rem, -2rem);
}

/* ? PRODUCTS SECTION */

.products_container {
	text-align: center;
}

.products_container h2 {
	margin-bottom: 6rem;
}

.products_container__displays {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3.5rem;
}

.products_container__displays figure figcaption h3 {
	margin: 1.6rem 0 0.8rem;
}

.products_container button {
	background-color: transparent;
	color: var(--HIGHLIGHT-DARK);
	font-weight: 400;
	border: 2px solid var(--HIGHLIGHT-DARK);
	margin-top: 6rem;
}

/* ? COLLECTION SECTION */

.collection_container__content {
	flex: 0.88;
}

.collection_container__content h2 {
	margin-bottom: 3.6rem;
}

.collection_container__content ul li {
	font-size: 3rem;
	font-family: var(--KUMAR-FONT);
	font-weight: 400;
	padding: 2.5rem 0;
	border-bottom: 1px solid var(--SECTION-BG);
	position: relative;
}

.collection_container__content ul li:first-child {
	border-top: 1px solid var(--SECTION-BG);
}

.collection_container__content ul > li::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(
		270deg,
		#b9a294 5.72%,
		rgba(255, 247, 239, 0) 108.48%
	);
	width: 0;
	height: 100%;
	transition: all 0.5s ease-in-out;
	opacity: 0;
}

.collection_container__content ul > li:hover::after {
	opacity: 1;
	width: 100%;
}

/* ? CTA SECTION */

.cta {
	background: var(--SECTION-BG);
	padding: 7.5rem 0;
}

.cta_container {
	justify-content: space-evenly;
}

.cta_container h2 {
	color: var(--WHITE-FONT);
}

/* ? PRODUCT DISPLAYS SECTION */

.display {
	margin: 10rem 0 0 0;
}

.display h3 {
	font-size: 2.8rem;
	font-family: var(--KUMAR-FONT);
	font-weight: 400;
	margin-bottom: 4rem;
}

/* *************************** */
/* * FOOTER COMPONENTS */
/* *************************** */

.footer_container {
	padding: 10rem 3.2rem;
	font-family: var(--KUMAR-FONT);
	align-items: flex-start;
}

.footer_container__socail-links figure img {
	max-width: 1.8rem;
}

footer ion-icon {
	width: 3rem;
	height: 3rem;
	margin: 4rem 2rem 1.6rem 0;
}

.footer_container__socail-links figure {
	grid-column: auto / span 3;
	justify-content: flex-start;
	font-size: 1.8rem;
	gap: 0.5rem;
}

.footer_container__links li {
	font-size: var(--CONTENT-FONT);
	margin-bottom: 1.4rem;
	font-size: 2rem;
	font-weight: 400;
}

.footer_container__links li:first-child,
form h3 {
	font-weight: 500;
	margin-bottom: 2rem;
	font-size: 2.4rem;
}

.footer_container__form {
	display: flex;
	flex-direction: column;
}

.footer_container__form input {
	border: none;
	outline: none;
	background: var(--SECTION-BG);
	border: 1px solid var(--SECTION-BG);
	font-size: 1.8rem;
	font-weight: 300;
	padding: 1rem 2rem;
	margin-bottom: 1.4rem;
	color: var(--WHITE-FONT);
}

.footer_container__form input::placeholder {
	color: var(--WHITE-FONT);
	font-family: var(--KUMAR-FONT);
	font-weight: 300;
	letter-spacing: 1px;
}

.footer_container__form .btn {
	font-size: 1.8rem;
}
